body {
    background-color: #f2f2f2;
}
#p-cactions {
    background-color: white;
}

.background-focus {background-color:#a3dbd7; color:#000000;}

p.action a {
     color: #00ab9e; 
     font-weight: bold; 
     padding: 0.3em 0.6em; 
     font-size: 1.7em; 
     text-align:center;
     display: block;
}
p.action a:hover {color:#000;}


.mw-special-Recentchanges h4 + h4 {
    display: none;
}


/**************
 * HEADER
 *************/

nav.top-bar {
    max-width: 75em;
    margin: auto;
    margin-top: 5px;
    background: #f2f2f2;
}

nav.top-bar .title-area {
    height: auto;
    width: 220px;
    display:block;
}

nav.top-bar .title-area .title-name .top-bar-logo {width: 100%;height:auto;max-height:none;}

nav.top-bar .title-area .title-name a .title-name /* Le doublon n'est pas un bug. */ {
          display:none !important;
          color:#f2f2f2;
} 

nav.top-bar, /* barre principle */
#top-bar-right li.has-form, /* search bar */
.top-bar-section li.active:not(.has-form) a:not(.button) { /* titre de menu */
    background-color: #f2f2f2;
    color: #393939;
}


.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) { /* element de menu */
    background-color: #a3dbd7;
    color: #393939;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover { /* titre de menu survolé */
    background-color: #f2f2f2;
    color: #00AA9E;
}

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) { /* element de menu survolé */
    background-color: #a3dbd7;
    color: #393939;
}

.top-bar-section li.active:not(.has-form) > a:not(.button),
.top-bar-section .has-dropdown > a {
    font-size: 1.4em;
    font-variant: small-caps;
    padding: 0 !important;
}

.top-bar .title-area  {
    display:none;
}

.top-bar #top-bar-left {
    height: 200px;
    padding-top: 110px;
}
li.has-dropdown {
    padding: 0 1em;
    background-color: #f2f2f2;
}
.top-bar-section ul li {
    background: #f2f2f2;
    font-size: 1em;
}

#searchInput {
    font-size: 1.2em;
    padding: 0.2em;
    margin: 0.2em;
}

/*
#top-bar-left,
#top-bar-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #00AA9E;
    margin-top: 3em;
    margin-bottom: 5em;
}

#top-bar-left {
    padding-right: 100px;
}

#top-bar-right {
    padding-left: 100px;
}

#top-bar-right li.has-form {
    flex: 9;
}

#top-bar-right li.has-dropdown {
    flex: 1;
}

#top-bar-right li.has-dropdown > a {
    text-align: center;
}

nav.top-bar::after {
    content: '';
    width: 200px;
    height: 160px;
    background-color: #F2F2F2;
    background-image: url( https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/LinguaLibre_LOGO-04_%28cropped%29.png/200px-LinguaLibre_LOGO-04_%28cropped%29.png );
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}
*/
/**************
 * MAIN PAGE
 *************/
.rootpage-LinguaLibre_Main_Page .presentation {padding: 0.5em; padding-right:0.25em;}
.rootpage-LinguaLibre_Main_Page .presentation  p {margin: 1.8em 1.2em;font-size: 1.2em;}
.rootpage-LinguaLibre_Main_Page .presentation-bg {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bartok_recording_folk_music.jpg/800px-Bartok_recording_folk_music.jpg);
      background-position: center center;
      background-size: cover;
}
.rootpage-LinguaLibre_Main_Page .get-involved {padding: 0.5em; padding-left:0.25em;}
.rootpage-LinguaLibre_Main_Page .get-involved h2 {display:none;}
.rootpage-LinguaLibre_Main_Page h4.namespace.label,
.rootpage-LinguaLibre_Main_Page #firstHeading,
.rootpage-LinguaLibre_Main_Page #tagline,
.rootpage-LinguaLibre_Main_Page #siteSub {
    display: none;
}
.rootpage-LinguaLibre_Main_Page #contentSub {
    clear: left;
}
.rootpage-LinguaLibre_Main_Page #actions-button {
    position: absolute;
    right: 5px;
}
.rootpage-LinguaLibre_Main_Page h1 {margin-bottom: 0.6em;}

/**************
 * FOOTER
 *************/

footer {
    padding-top: 0.5em;
    border-top: 3px solid #00AA9E
}

/**************
 * VARIOUS
 *************/

.lingualibre-pavement {
        background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Lingua_Libre_background_tile.png/120px-Lingua_Libre_background_tile.png") repeat;
}

pre {
    padding: 5px;
    margin: 0px 15px 0px 15px;
    border-left: 4px solid;
    border-right: 1px solid;
    border-bottom: #888 1px solid;
    border-top: #888 1px solid;
}
.console {
    border-color: #CCC;
    font-family: monospace;
    background-color: #000000;
    color: #FFF;
}
.citation {
    border-color: #C0C0C0;
    background-color: #FFF;
    color: #000;
}


/**************
 * MOBILE MENU
 *************/

@media ( max-width: 767px ) {
    nav.top-bar{
        height: 300px;
    }
  
  .top-bar-logo{
      margin-top: 50px;
      margin-left: 25%;    
  }
  
  #p-project-involved{
      margin-top: 50px;
  }
  
  .top-bar-section .divider{
      display: none !important;
  }
  
  .top-bar .toggle-topbar.menu-icon a span{
    font-size: 30px;
    left: 30% !important;
    margin-left: 40%;
  }
  
  .top-bar .toggle-topbar.menu-icon {
      margin-top: -16px;
      top: 50%;
      left: 52%;
      width: 150px;
  }
  nav.top-bar .title-area {
      height: auto;
      width: 100%;
      display: block;
  }
  
  .top-bar .toggle-topbar.menu-icon {
      margin-top: -16px;
      top: 50%;
      width: 100%;
      background: #000;
  }
  
  .top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 33px;
    padding: 0 2.5rem 0 0.9375rem;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0%;
    background: #000;
  }
  
  .top-bar .name {
      font-size: 16px;
      height: 0;
      margin: 0;
      width: 100%;
      border: none;
      background: #000;
      position: fixed;
  }
  
  nav.top-bar .title-area .title-name .top-bar-logo{
      width: 50% !important;
      height: auto;
      max-height: none;
  }
  
  nav.top-bar {
      margin-top: 0px;
      height: 200px;
  }
  
  .top-bar-section{
      display: none;
      margin-top: 30px;
      margin-bottom: 10px;
      box-shadow: 1px 1px 1px #ddd;
      height: 200px;
      background: #f2f2f2;
      text-align: center;
      z-index: 4000;
  }
  
  .top-bar-left{
      padding-top: 0px;
  }
  
  .top-bar #top-bar-left {
      height: 0px !important;
      padding-top: 0px !important;
  }
  
  .menu-icon a{
      z-index: 80000;
  }
  
  .menu-icon a:focus{
      background: none;
      outline: none;
  }
  
  .menu-icon a:active{
      background: none;
      outline: none;
  }
  
  #searchInput {
      font-size: 1.2em;
      padding: 0.2em;
      margin: 0.2em;
      border-radius: 30px;
      padding: 10px;
  }
  
  .top-bar form{
      margin-top: 60px;
  }
  
  .top-bar .button.search {
      margin-left: 10px;
      border-radius: 30px;
      padding: 7px 10px;
  }
  
  .top-bar-section .has-dropdown{
      display: inline-block;
  }
  
  #p-project-involved{
      margin-top: 20px;
  }
  
  #page-content{
      margin-top: 0px;
  }
  
  ::placeholder{
      font-size: 15px;
  }
  
  .mw-parser-output p {
    font-size: 12px;
  }
  
  .mw-headline{
    font-size: 20px;
    font-weight: bold;
  }
  
  .top-bar .toggle-topbar.menu-icon a span::after{
    left: 240px;
  }
    
}

/* Tablets devices */

@media (max-width: 1024px) and (min-width: 768px){
    nav.top-bar .title-area .title-name .top-bar-logo{
        width:  60%;
    }
    
    .top-bar #top-bar-left{
        padding-top: 10px;
    }
    
    #searchInput {
      font-size: 1.2em;
      padding: 0.2em;
      margin: 0.2em;
      border-radius: 30px;
      padding: 10px;
    }
    
    .top-bar .button.search {
        margin-left: 10px;
        border-radius: 30px;
        padding: 7px 10px;
    }
    
     ::placeholder{
      font-size: 15px;
    }
    
    .top-bar-section{
        display: block;
    }
}